<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="mysqlcs" connectionString="server=localhost;user id=root;password=root ;database=myfirstdb"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>